# Dependencias
node_modules/
.pnpm/

# Build
/dist/
/coverage/

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
logs/

# Sistema
.DS_Store
*.swp
*.swo

# Tests
/__snapshots__/

# Vite
.cache/